<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1043788363281-gf2hp9r1601u7eba8g0kukkm7mivel89.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1043788363281-gf2hp9r1601u7eba8g0kukkm7mivel89</string>
	<key>API_KEY</key>
	<string>AIzaSyDGvkDypx4MhIMqCqkH0h6JNWN7tmcPqTU</string>
	<key>GCM_SENDER_ID</key>
	<string>1043788363281</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Dawillke.AppleMusicClone</string>
	<key>PROJECT_ID</key>
	<string>applemusicclone</string>
	<key>STORAGE_BUCKET</key>
	<string>applemusicclone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1043788363281:ios:6c63e05f7568f03c66e3b0</string>
</dict>
</plist>